<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Chucky Jokes
    </h1>
    <img width="300" alt="Chucky" src="/assets/chucky.jpg">
  </div>

  <hr/>

  <h3>Joke Categories</h3>
  <div aria-labelledby="chuckyCategoryChoices" style="text-align: center">
    <button *ngFor="let cat of categories" class="btn btn-outline-primary" style="margin: .2em .8em" (click)="setCategory(cat)">{{cat}}</button>
  </div>

  <div class="joke">
    <h4 ng-bind="category">Category Joke</h4>
    <p ng-bind="jokeText">{{jokeText}}</p>
  </div>

  <hr/>
  <div class="joke-random">
    <h3>Random Joke</h3>
    <p ng-bind="randomJokeText">{{randomJokeText}} </p>
  </div>
</div>
