<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Chucky" src="/assets/chucky.jpg">
</div>

  <div aria-labelledby="chuckyCategoryChoices" style="text-align: center">
    <button *ngFor="let cat of categories" class="btn btn-outline-primary"
    style="margin: .2em .8em"
    (click)="setCategory(cat)">{{cat}}</button>
  </div>

<p ng-bind="category">{{category}}</p>

<div class="joke">
  <p ng-bind="jokeText">{{jokeText}}</p>
</div>

<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul>
</div>
