<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Chucky Jokes
    </h1>
    <img width="300" alt="Chucky" src="/assets/chucky.jpg">
  </div>

  <hr/>

  <h4>Joke Categories</h4>
  <div aria-labelledby="chuckyCategoryChoices" style="text-align: center">
    <button *ngFor="let cat of categories" class="btn btn-outline-primary" style="margin: .2em .8em" (click)="setCategory(cat)">{{cat}}</button>
  </div>


  <div class="card"  ng-bind="jokeText, category">
    <div class="card-header">
      <div style="font-size: 1.5em; display:inline-block;">Category Joke: {{category}}</div>
    </div>
    <div>
      <div class="card-body">> {{jokeText}}</div>
    </div>
  </div>

<hr/>

<div class="card">
  <div class="card-header">
    <div style="font-size: 1.5em; display:inline-block;">Random Joke Train</div>
    <switch [status]="jokeTrainRunning" [size]="normal" (statusChange)="setJokeTrainTo($event)"></switch>
  </div>
  <div [ngStyle]="{'background-color': color}">
    <div class="card-body" ng-bind="randomJokeText">> {{randomJokeText}} </div>
  </div>
</div>
</div>
